@page "/"

@using Mandelbrot.Client.ApiClients;

@if (String.IsNullOrWhiteSpace(bitmap))
{
    <p>No data...</p>
}
else
{
    <div style="height:100%; display: flex; justify-content: center; align-items: center;">
        <img src=@($"data:image/jpeg;base64,{bitmap}")/>
    </div>
}
<p>@count</p>
<p>hello</p>

@code {
    [Inject] ApiClient apiClient { get; set; }
    [Inject] UpdateClient updateClient { get; set; }

    private string bitmap;
    private bool firstReceived = true;
    private int count = 0;

    protected override async Task OnInitializedAsync()
    {
        updateClient.OnImageReceived += async (bm) =>
        {
            Console.WriteLine($"Image received");
            bitmap = bm;
            StateHasChanged();

            if (firstReceived)
            {
                firstReceived = false;
                await apiClient.SendImageRequest();
            }
        };

        //await apiClient.SendImageRequest();
        count = (new Random()).Next(1, 100);
    }
}