@page "/"

@using Mandelbrot.Client.Shared.Prototype
@using SkiaSharp
@using SkiaSharp.Views.Blazor

@if (bitmap is null)
{
    <p>No data...</p>
}
else
{
    <div style="display: flex; justify-content: center; align-items: center;">
        @*display the stuff*@
    </div>
}

@*<SKGLView OnPaintSurface="OnPaintSurface" />*@


@code {
    [Inject]
    public ApiClient client { get; set; }

    private SKBitmap bitmap;

    protected override async Task OnInitializedAsync()
    {
        bitmap = await client.GetImage();
        Console.WriteLine(bitmap);
        Console.WriteLine(bitmap?.ByteCount);
    }

    private void OnPaintSurface(SKPaintGLSurfaceEventArgs args)
    {
        if (bitmap is null) return;
        var canvas = args.Surface.Canvas;
        canvas.Clear(SKColors.White);
        canvas.DrawBitmap(bitmap, 0, 0);
    }
}