@page "/"

@using Mandelbrot.Client.ApiClients;

@if (String.IsNullOrWhiteSpace(bitmap))
{
    <p>No data...</p>
}
else
{
    <div style="height:100%; display: flex; justify-content: center; align-items: center;">
        <img src=@($"data:image/jpeg;base64,{bitmap}")/>
    </div>
}


@code {
    [Inject] ApiClient apiClient { get; set; }
    [Inject] UpdateClient updateClient { get; set; }

    private string bitmap;

    protected override async Task OnInitializedAsync()
    {
        updateClient.OnImageReceived += (bm) =>
        {
            bitmap = bm;
            Console.WriteLine($"Bitmap string: {bitmap}");
            StateHasChanged();
        };

        await apiClient.SendImageRequest();
    }
}