@page "/"

@using SkiaSharp
@using SkiaSharp.Views.Blazor
@using Mandelbrot.Client.ApiClients;

@if (bitmap is null)
{
    <p>No data...</p>
}
else
{
    <div style="display: flex; justify-content: center; align-items: center;">
        <SKGLView OnPaintSurface="OnPaintSurface" />
    </div>
}


@code {
    [Inject]
    public UpdateClient client { get; set; }

    private SKBitmap? bitmap;

    protected override async Task OnInitializedAsync()
    {
        client.OnBitmapReceived += (bm) =>
        {
            Console.WriteLine("Bitmap received");
            bitmap = bm;
            StateHasChanged();
        };

        await client.SendRequest();
        Console.WriteLine("Request sent");
    }

    private void OnPaintSurface(SKPaintGLSurfaceEventArgs args)
    {
        if (bitmap is null) return;
        var canvas = args.Surface.Canvas;
        canvas.Clear(SKColors.White);
        canvas.DrawBitmap(bitmap, 0, 0);
    }
}