@page "/"

@using SkiaSharp
@using SkiaSharp.Views.Blazor
@using Mandelbrot.Client.ApiClients;

@if (bitmap is null)
{
    <p>No data...</p>
}
else
{
    <div style="display: flex; justify-content: center; align-items: center;">
        @*<SKGLView OnPaintSurface="OnPaintSurface" />*@
        <img src=@($"data:image/jpeg;base64,{bitmap}")/>
    </div>
}


@code {
    [Inject] UpdateClient client { get; set; }

    private string bitmap = null;

    protected override async Task OnInitializedAsync()
    {
        client.OnBitmapReceived += (bm) =>
        {
            Console.WriteLine("Bitmap received");
            bitmap = bm;
            Console.WriteLine(bm);
            StateHasChanged();
        };

        await client.SendRequest();
        Console.WriteLine("Request sent");
    }
}