@page "/"

@using Mandelbrot.Client.ApiClients;
@using Mandelbrot.Shared.DTOs;

@if (dto is null || String.IsNullOrWhiteSpace(dto.Image))
{
    <p>No data...</p>
}
else
{
    <div style="height:100%; display: flex; justify-content: center; align-items: center;">
        <img src=@($"data:image/jpeg;base64,{dto.Image}")/>
    </div>
}

@code {
    [Inject] ApiClient apiClient { get; set; }
    [Inject] UpdateClient updateClient { get; set; }

    private ImageDto dto;
    private bool firstReceived = true;

    protected override async Task OnInitializedAsync()
    {
        updateClient.OnImageReceived += async (dto) =>
        {
            Console.WriteLine($"Image received");
            this.dto = dto;
            StateHasChanged();

            if (firstReceived)
            {
                firstReceived = false;
                await apiClient.SendImageRequest();
            }
        };

        await apiClient.SendImageRequest();
    }
}